<ion-header>
  <header class="header">
    <h1 class="title">
      차량 등록
    </h1>
  </header>
</ion-header>

<ion-content>
  <ion-list class="mainMenu">
    <ion-item>
      <ion-label position="floating">차량번호</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">차량종류</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </ion-list>

  <ion-list class="main_Btn">
    <ion-button
      class="button"
      color="tertiary"
      expand="block"
      (click)="gotoParkingregisteralert()"
      >차량등록</ion-button
    >
  </ion-list>
</ion-content>
