<ion-header>
  <header class="header">
    <h1 class="title">
      자세히 보기
    </h1>
  </header>
</ion-header>

<ion-content>
  <ion-list class="mainMenu">
    <ion-item lines="inset">
      <ion-col class="form">
        0000년 00월 00일 1시 30분
      </ion-col>
    </ion-item>

    <ion-item lines="inset">
      <ion-col class="form">
        대형폐기물 견적
      </ion-col>
    </ion-item>

    <ion-item lines="inset">
      <ion-col class="form">
        대형폐기물 견적입니다.
      </ion-col>
    </ion-item>

    <ion-item lines="inset">
      <ion-col class="form">
        서울시 중랑구 겸재로 aa빌라 101동 101호
      </ion-col>
    </ion-item>
  </ion-list>
</ion-content>
