<!-- 페이지 머리말 -->
<ion-header>
  <ion-toolbar class="pagehead" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/control"> </ion-back-button>
    </ion-buttons>
    <ion-title>
      퇴거요청 신청하기
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- 퇴거요청 신청 리스트 -->
<ion-content>
  <ion-item lines="inset">
    <ion-col class="form">
      날짜
    </ion-col>
    <ion-col class="form">
      제목
    </ion-col>
  </ion-item>

  <ion-item lines="inset" (click)="gotoControlRemovalDetail()">
    <ion-col class="form">
      00월 00일
    </ion-col>
    <ion-col class="form">
      퇴거 요청
    </ion-col>
  </ion-item>
</ion-content>
