<ion-header>
  <header class="tutorial">
    <h1 class="title">
      입주 및 퇴거 점검표 작성하기
    </h1>
  </header>
</ion-header>

<ion-content>
  <ion-list class="main_menu">
    <ion-item lines="none">
      <ion-col class="form1">
        <ion-label>거실</ion-label>
      </ion-col>
    </ion-item>

    <ion-radio-group>
      <ion-list-header>
        <ion-col class="form2">
          <ion-label>벽체 및 천장</ion-label>
        </ion-col>
      </ion-list-header>

      <ion-list class="form3">
        <ion-item lines="none">
          <ion-label>양호</ion-label>
          <ion-radio slot="end" color="success" value="양호"></ion-radio>
        </ion-item>

        <ion-item lines="none">
          <ion-label>수리요망</ion-label>
          <ion-radio slot="end" color="warning" value="수리요망"></ion-radio>
        </ion-item>

        <ion-item lines="none">
          <ion-label>수리완료</ion-label>
          <ion-radio slot="end" color="danger" value="수리완료"></ion-radio>
        </ion-item>
      </ion-list>
    </ion-radio-group>

    <ion-radio-group>
      <ion-list-header>
        <ion-col class="form2">
          <ion-label>바닥 (마루/타일/장판)</ion-label>
        </ion-col>
      </ion-list-header>

      <ion-list class="form3">
        <ion-item lines="none">
          <ion-label>양호</ion-label>
          <ion-radio slot="end" color="success" value="양호"></ion-radio>
        </ion-item>

        <ion-item lines="none">
          <ion-label>수리요망</ion-label>
          <ion-radio slot="end" color="warning" value="수리요망"></ion-radio>
        </ion-item>

        <ion-item lines="none">
          <ion-label>수리완료</ion-label>
          <ion-radio slot="end" color="danger" value="수리완료"></ion-radio>
        </ion-item>
      </ion-list>
    </ion-radio-group>

    <ion-radio-group>
      <ion-list-header>
        <ion-col class="form2">
          <ion-label>전등 및 콘센트</ion-label>
        </ion-col>
      </ion-list-header>

      <ion-list class="form3">
        <ion-item lines="none">
          <ion-label>양호</ion-label>
          <ion-radio slot="end" color="success" value="양호"></ion-radio>
        </ion-item>

        <ion-item lines="none">
          <ion-label>수리요망</ion-label>
          <ion-radio slot="end" color="warning" value="수리요망"></ion-radio>
        </ion-item>

        <ion-item lines="none">
          <ion-label>수리완료</ion-label>
          <ion-radio slot="end" color="danger" value="수리완료"></ion-radio>
        </ion-item>
      </ion-list>
    </ion-radio-group>

    <ion-radio-group>
      <ion-list-header>
        <ion-col class="form2">
          <ion-label>몰딩/걸레받이</ion-label>
        </ion-col>
      </ion-list-header>

      <ion-list class="form3">
        <ion-item lines="none">
          <ion-label>양호</ion-label>
          <ion-radio slot="end" color="success" value="양호"></ion-radio>
        </ion-item>

        <ion-item lines="none">
          <ion-label>수리요망</ion-label>
          <ion-radio slot="end" color="warning" value="수리요망"></ion-radio>
        </ion-item>

        <ion-item lines="none">
          <ion-label>수리완료</ion-label>
          <ion-radio slot="end" color="danger" value="수리완료"></ion-radio>
        </ion-item>
      </ion-list>
    </ion-radio-group>

    <ion-radio-group>
      <ion-list-header>
        <ion-col class="form2">
          <ion-label>스위치 작동</ion-label>
        </ion-col>
      </ion-list-header>

      <ion-list class="form3">
        <ion-item lines="none">
          <ion-label>양호</ion-label>
          <ion-radio slot="end" color="success" value="양호"></ion-radio>
        </ion-item>

        <ion-item lines="none">
          <ion-label>수리요망</ion-label>
          <ion-radio slot="end" color="warning" value="수리요망"></ion-radio>
        </ion-item>

        <ion-item lines="none">
          <ion-label>수리완료</ion-label>
          <ion-radio slot="end" color="danger" value="수리완료"></ion-radio>
        </ion-item>
      </ion-list>
    </ion-radio-group>

    <ion-radio-group>
      <ion-list-header>
        <ion-col class="form2">
          <ion-label>에어컨</ion-label>
        </ion-col>
      </ion-list-header>

      <ion-list class="form3">
        <ion-item lines="none">
          <ion-label>양호</ion-label>
          <ion-radio slot="end" color="success" value="양호"></ion-radio>
        </ion-item>

        <ion-item lines="none">
          <ion-label>수리요망</ion-label>
          <ion-radio slot="end" color="warning" value="수리요망"></ion-radio>
        </ion-item>

        <ion-item lines="none">
          <ion-label>수리완료</ion-label>
          <ion-radio slot="end" color="danger" value="수리완료"></ion-radio>
        </ion-item>
      </ion-list>
    </ion-radio-group>

    <ion-radio-group>
      <ion-list-header>
        <ion-col class="form2">
          <ion-label>인터폰</ion-label>
        </ion-col>
      </ion-list-header>

      <ion-list class="form3">
        <ion-item lines="none">
          <ion-label>양호</ion-label>
          <ion-radio slot="end" color="success" value="양호"></ion-radio>
        </ion-item>

        <ion-item lines="none">
          <ion-label>수리요망</ion-label>
          <ion-radio slot="end" color="warning" value="수리요망"></ion-radio>
        </ion-item>

        <ion-item lines="none">
          <ion-label>수리완료</ion-label>
          <ion-radio slot="end" color="danger" value="수리완료"></ion-radio>
        </ion-item>
      </ion-list>
    </ion-radio-group>

    <ion-radio-group>
      <ion-list-header>
        <ion-col class="form2">
          <ion-label>보일러 조절기</ion-label>
        </ion-col>
      </ion-list-header>

      <ion-list class="form3">
        <ion-item lines="none">
          <ion-label>양호</ion-label>
          <ion-radio slot="end" color="success" value="양호"></ion-radio>
        </ion-item>

        <ion-item lines="none">
          <ion-label>수리요망</ion-label>
          <ion-radio slot="end" color="warning" value="수리요망"></ion-radio>
        </ion-item>

        <ion-item lines="none">
          <ion-label>수리완료</ion-label>
          <ion-radio slot="end" color="danger" value="수리완료"></ion-radio>
        </ion-item>
      </ion-list>
    </ion-radio-group>

    <ion-radio-group>
      <ion-list-header>
        <ion-col class="form2">
          <ion-label>창호 및 방충망</ion-label>
        </ion-col>
      </ion-list-header>

      <ion-list class="form3">
        <ion-item lines="none">
          <ion-label>양호</ion-label>
          <ion-radio slot="end" color="success" value="양호"></ion-radio>
        </ion-item>

        <ion-item lines="none">
          <ion-label>수리요망</ion-label>
          <ion-radio slot="end" color="warning" value="수리요망"></ion-radio>
        </ion-item>

        <ion-item lines="none">
          <ion-label>수리완료</ion-label>
          <ion-radio slot="end" color="danger" value="수리완료"></ion-radio>
        </ion-item>
      </ion-list>
    </ion-radio-group>

    <ion-radio-group>
      <ion-list-header>
        <ion-col class="form2">
          <ion-label>기타사항</ion-label>
        </ion-col>
      </ion-list-header>

      <ion-list class="form3">
        <ion-item lines="none">
          <ion-label>양호</ion-label>
          <ion-radio slot="end" color="success" value="양호"></ion-radio>
        </ion-item>

        <ion-item lines="none">
          <ion-label>수리요망</ion-label>
          <ion-radio slot="end" color="warning" value="수리요망"></ion-radio>
        </ion-item>

        <ion-item lines="none">
          <ion-label>수리완료</ion-label>
          <ion-radio slot="end" color="danger" value="수리완료"></ion-radio>
        </ion-item>
      </ion-list>
    </ion-radio-group>
  </ion-list>

  <ion-list class="main_Btn">
    <ion-button
      size="large"
      expand="block"
      (click)="gotoChecklistinnerchecktwo()"
    >
      다음페이지 넘어가기
    </ion-button>
  </ion-list>
</ion-content>
