<ion-header>
  <header class="tutorial">
    <h1 class="title">
      시설물 종합 점검표 작성하기
    </h1>
  </header>
</ion-header>

<ion-content>
  <ion-list class="main_menu">
    <ion-item lines="none">
      <ion-col class="form1">
        <ion-label>설비 및 환경부분</ion-label>
      </ion-col>
    </ion-item>
  </ion-list>

  <ion-radio-group>
    <ion-list-header>
      <ion-col class="form2">
        <ion-label>각종 펌프류 관리상태</ion-label>
      </ion-col>
    </ion-list-header>

    <ion-list class="form3">
      <ion-item lines="none">
        <ion-label>양호</ion-label>
        <ion-radio slot="end" color="success" value="양호"></ion-radio>
      </ion-item>

      <ion-item lines="none">
        <ion-label>수리요망</ion-label>
        <ion-radio slot="end" color="warning" value="수리요망"></ion-radio>
      </ion-item>

      <ion-item lines="none">
        <ion-label>수리완료</ion-label>
        <ion-radio slot="end" color="danger" value="수리완료"></ion-radio>
      </ion-item>
    </ion-list>
  </ion-radio-group>

  <ion-radio-group>
    <ion-list-header>
      <ion-col class="form2">
        <ion-label>공용부 비상유도등 및 내부유도등 관리상태</ion-label>
      </ion-col>
    </ion-list-header>

    <ion-list class="form3">
      <ion-item lines="none">
        <ion-label>양호</ion-label>
        <ion-radio slot="end" color="success" value="양호"></ion-radio>
      </ion-item>

      <ion-item lines="none">
        <ion-label>수리요망</ion-label>
        <ion-radio slot="end" color="warning" value="수리요망"></ion-radio>
      </ion-item>

      <ion-item lines="none">
        <ion-label>수리완료</ion-label>
        <ion-radio slot="end" color="danger" value="수리완료"></ion-radio>
      </ion-item>
    </ion-list>
  </ion-radio-group>

  <ion-radio-group>
    <ion-list-header>
      <ion-col class="form2">
        <ion-label>스프링쿨러(건식/습식)</ion-label>
      </ion-col>
    </ion-list-header>

    <ion-list class="form3">
      <ion-item lines="none">
        <ion-label>양호</ion-label>
        <ion-radio slot="end" color="success" value="양호"></ion-radio>
      </ion-item>

      <ion-item lines="none">
        <ion-label>수리요망</ion-label>
        <ion-radio slot="end" color="warning" value="수리요망"></ion-radio>
      </ion-item>

      <ion-item lines="none">
        <ion-label>수리완료</ion-label>
        <ion-radio slot="end" color="danger" value="수리완료"></ion-radio>
      </ion-item>
    </ion-list>
  </ion-radio-group>

  <ion-radio-group>
    <ion-list-header>
      <ion-col class="form2">
        <ion-label>소화기 적정비치 여부 및 관리상태</ion-label>
      </ion-col>
    </ion-list-header>

    <ion-list class="form3">
      <ion-item lines="none">
        <ion-label>양호</ion-label>
        <ion-radio slot="end" color="success" value="양호"></ion-radio>
      </ion-item>

      <ion-item lines="none">
        <ion-label>수리요망</ion-label>
        <ion-radio slot="end" color="warning" value="수리요망"></ion-radio>
      </ion-item>

      <ion-item lines="none">
        <ion-label>수리완료</ion-label>
        <ion-radio slot="end" color="danger" value="수리완료"></ion-radio>
      </ion-item>
    </ion-list>
  </ion-radio-group>

  <ion-radio-group>
    <ion-list-header>
      <ion-col class="form2">
        <ion-label>분전함(계량기, 누전차단기)</ion-label>
      </ion-col>
    </ion-list-header>

    <ion-list class="form3">
      <ion-item lines="none">
        <ion-label>양호</ion-label>
        <ion-radio slot="end" color="success" value="양호"></ion-radio>
      </ion-item>

      <ion-item lines="none">
        <ion-label>수리요망</ion-label>
        <ion-radio slot="end" color="warning" value="수리요망"></ion-radio>
      </ion-item>

      <ion-item lines="none">
        <ion-label>수리완료</ion-label>
        <ion-radio slot="end" color="danger" value="수리완료"></ion-radio>
      </ion-item>
    </ion-list>
  </ion-radio-group>

  <ion-radio-group>
    <ion-list-header>
      <ion-col class="form2">
        <ion-label>스위치, 콘센트 </ion-label>
      </ion-col>
    </ion-list-header>

    <ion-list class="form3">
      <ion-item lines="none">
        <ion-label>양호</ion-label>
        <ion-radio slot="end" color="success" value="양호"></ion-radio>
      </ion-item>

      <ion-item lines="none">
        <ion-label>수리요망</ion-label>
        <ion-radio slot="end" color="warning" value="수리요망"></ion-radio>
      </ion-item>

      <ion-item lines="none">
        <ion-label>수리완료</ion-label>
        <ion-radio slot="end" color="danger" value="수리완료"></ion-radio>
      </ion-item>
    </ion-list>
  </ion-radio-group>

  <ion-radio-group>
    <ion-list-header>
      <ion-col class="form2">
        <ion-label>각종 등기구</ion-label>
      </ion-col>
    </ion-list-header>

    <ion-list class="form3">
      <ion-item lines="none">
        <ion-label>양호</ion-label>
        <ion-radio slot="end" color="success" value="양호"></ion-radio>
      </ion-item>

      <ion-item lines="none">
        <ion-label>수리요망</ion-label>
        <ion-radio slot="end" color="warning" value="수리요망"></ion-radio>
      </ion-item>

      <ion-item lines="none">
        <ion-label>수리완료</ion-label>
        <ion-radio slot="end" color="danger" value="수리완료"></ion-radio>
      </ion-item>
    </ion-list>
  </ion-radio-group>

  <ion-radio-group>
    <ion-list-header>
      <ion-col class="form2">
        <ion-label>저수조 및 오수 정화조 확인</ion-label>
      </ion-col>
    </ion-list-header>

    <ion-list class="form3">
      <ion-item lines="none">
        <ion-label>양호</ion-label>
        <ion-radio slot="end" color="success" value="양호"></ion-radio>
      </ion-item>

      <ion-item lines="none">
        <ion-label>수리요망</ion-label>
        <ion-radio slot="end" color="warning" value="수리요망"></ion-radio>
      </ion-item>

      <ion-item lines="none">
        <ion-label>수리완료</ion-label>
        <ion-radio slot="end" color="danger" value="수리완료"></ion-radio>
      </ion-item>
    </ion-list>
  </ion-radio-group>

  <ion-radio-group>
    <ion-list-header>
      <ion-col class="form2">
        <ion-label>엘레베이터(E/V)</ion-label>
      </ion-col>
    </ion-list-header>

    <ion-list class="form3">
      <ion-item lines="none">
        <ion-label>양호</ion-label>
        <ion-radio slot="end" color="success" value="양호"></ion-radio>
      </ion-item>

      <ion-item lines="none">
        <ion-label>수리요망</ion-label>
        <ion-radio slot="end" color="warning" value="수리요망"></ion-radio>
      </ion-item>

      <ion-item lines="none">
        <ion-label>수리완료</ion-label>
        <ion-radio slot="end" color="danger" value="수리완료"></ion-radio>
      </ion-item>
    </ion-list>
  </ion-radio-group>

  <ion-radio-group>
    <ion-list-header>
      <ion-col class="form2">
        <ion-label>건물 내/외부 주변 청소 및 관리상태</ion-label>
      </ion-col>
    </ion-list-header>

    <ion-list class="form3">
      <ion-item lines="none">
        <ion-label>양호</ion-label>
        <ion-radio slot="end" color="success" value="양호"></ion-radio>
      </ion-item>

      <ion-item lines="none">
        <ion-label>수리요망</ion-label>
        <ion-radio slot="end" color="warning" value="수리요망"></ion-radio>
      </ion-item>

      <ion-item lines="none">
        <ion-label>수리완료</ion-label>
        <ion-radio slot="end" color="danger" value="수리완료"></ion-radio>
      </ion-item>
    </ion-list>
  </ion-radio-group>

  <ion-list>
    <ion-button
      size="large"
      expand="block"
      (click)="gotoChecklistoutercheckone()"
      >뒤로가기
    </ion-button>
    <ion-button
      size="large"
      expand="block"
      (click)="gotoChecklistouterchecktwoAlert()"
      >저장하기
    </ion-button>
  </ion-list>
</ion-content>
