<ion-header>
  <header class="header">
    <h2 class="title">
      회원유형을 선택해주세요.
    </h2>
  </header>
</ion-header>

<ion-content>
  <ion-list>
    <ion-button
      class="button"
      expand="block"
      color="secondary"
      size="large"
      (click)="gotoLogin1()"
    >
      <ion-icon name="business" slot="start"></ion-icon>
      임대인</ion-button
    >

    <ion-button
      class="button"
      expand="block"
      color="secondary"
      size="large"
      (click)="gotoLogin2()"
    >
      <ion-icon name="person" slot="start"></ion-icon>
      임차인</ion-button
    >

    <ion-button
      class="button"
      expand="block"
      color="secondary"
      size="large"
      (click)="gotoLogin3()"
    >
      <ion-icon name="construct" slot="start"></ion-icon>
      관리자</ion-button
    >
  </ion-list>
</ion-content>
