<!-- 페이지 머리말 -->
<ion-header>
  <ion-toolbar class="pagehead" mode="ios">
    <ion-title>회원유형을 선택해주세요</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <!-- 임대인 버튼(login1)으로 이동) -->
    <ion-button
      class="button"
      expand="block"
      color="secondary"
      size="large"
      (click)="gotoLogin1()"
    >
      <ion-icon name="business" slot="start"></ion-icon>
      임대인</ion-button
    >

    <!-- 임차인 버튼(login2)으로 이동) -->
    <ion-button
      class="button"
      expand="block"
      color="secondary"
      size="large"
      (click)="gotoLogin2()"
    >
      <ion-icon name="person" slot="start"></ion-icon>
      임차인</ion-button
    >

    <!-- 관리자 버튼(login3)으로 이동)-->
    <ion-button
      class="button"
      expand="block"
      color="secondary"
      size="large"
      (click)="gotoLogin3()"
    >
      <ion-icon name="construct" slot="start"></ion-icon>
      관리자</ion-button
    >
  </ion-list>
</ion-content>
