<ion-header>
  <header class="header">
    <h1 class="title">
      방문예약 내역
    </h1>
  </header>
</ion-header>

<ion-content>
  <ion-list class="mainMenu">
    <ion-item>
      <ion-col>방문 기간</ion-col>
      <ion-col>방문 목적</ion-col>
      <ion-col>연락처</ion-col>
    </ion-item>

    <ion-item (click)="gotoParkingvisitlistdetail()">
      <ion-col>12월19일~12월20일</ion-col>
      <ion-col>친척 방문</ion-col>
      <ion-col>010-1111-1111</ion-col>
    </ion-item>

    <ion-item>
      <ion-col>12월4일~12월4일</ion-col>
      <ion-col>출장 수리</ion-col>
      <ion-col>010-1111-1111</ion-col>
    </ion-item>
  </ion-list>
</ion-content>
