<ion-header>
  <header class="header">
    <h1 class="title">
      방문예약 내역
    </h1>
  </header>
</ion-header>

<ion-content>
  <ion-list class="mainMenu">
    <ion-item>
      <ion-col class="form">방문 기간</ion-col>
      <ion-col class="form">방문 목적</ion-col>
      <ion-col class="form">연락처</ion-col>
    </ion-item>

    <ion-item (click)="gotoParkingvisitlistdetail()">
      <ion-col class="form">12월19일~12월20일</ion-col>
      <ion-col class="form">친척 방문</ion-col>
      <ion-col class="form">010-1111-1111</ion-col>
    </ion-item>

    <ion-item>
      <ion-col class="form">12월4일~12월4일</ion-col>
      <ion-col class="form">출장 수리</ion-col>
      <ion-col class="form">010-1111-1111</ion-col>
    </ion-item>
  </ion-list>
</ion-content>
