<ion-header>
  <header class="header">
    <h1 class="title">
      벼룩시장
    </h1>
  </header>
</ion-header>

<ion-content>
  <ion-list class="mainMenu">
    <ion-item lines="inset">
      <ion-col class="form"> <h2>수제 양초 팝니다</h2></ion-col>
    </ion-item>
    <ion-item lines="inset">
      <ion-col class="form"> 게시날짜 : 0000년 00월 00일</ion-col>
    </ion-item>
    <ion-item lines="none">
      <ion-col class="form">
        각종 수제로 만든 양초를 판매하고 있습니다.
      </ion-col>
    </ion-item>
    <ion-item lines="none">
      <ion-col class="form">
        판매자 성명 : 임차인1
      </ion-col>
    </ion-item>
    <ion-item lines="none">
      <ion-col class="form">
        판매자 전화번호 : 010-1111-1111
      </ion-col>
    </ion-item>
  </ion-list>

  <ion-list class="main_Btn">
    <ion-button
      class="button"
      expand="block"
      color="secondary"
      (click)="gotoMarketbuyalert()"
    >
      구입하기</ion-button
    >
  </ion-list>
</ion-content>
