.header {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.information {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.main_Btn {
  height: 70px;
  font-size: 20px;
  margin: 10px 10px;
}
