<!-- 페이지 머리말 -->
<ion-header>
  <ion-toolbar class="pagehead" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main3"> </ion-back-button>
    </ion-buttons>
    <ion-title>임대인 관리하기</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="mainMenu">
    <ion-item>
      <ion-col>
        <strong>임대인정보</strong>
      </ion-col>
    </ion-item>

    <ion-item>
      <ion-col size="9">
        <ion-row class="fontEdit">
          <ion-col off size="4">이름:</ion-col>
          <ion-col>AAA</ion-col>
        </ion-row>
        <ion-row class="fontEdit">
          <ion-col size="4">전화번호:</ion-col>
          <ion-col>OO빌라 101동 101호</ion-col>
        </ion-row>
        <ion-row class="fontEdit">
          <ion-col size="4">소유건물:</ion-col>
          <ion-col>AAA시 BBB구 CCC로 DDD</ion-col>
        </ion-row>
        <ion-row class="fontEdit">
          <ion-col size="4">납부일:</ion-col>
          <ion-col>매월 00일 000,000원</ion-col>
        </ion-row>
      </ion-col>
    </ion-item>

    <ion-item>
      <ion-col size="9">
        <ion-row class="fontEdit">
          <ion-col off size="4">이름:</ion-col>
          <ion-col>BBB</ion-col>
        </ion-row>
        <ion-row class="fontEdit">
          <ion-col size="4">전화번호:</ion-col>
          <ion-col>OO빌라 101동 101호</ion-col>
        </ion-row>
        <ion-row class="fontEdit">
          <ion-col size="4">소유건물:</ion-col>
          <ion-col>AAA시 BBB구 CCC로 DDD</ion-col>
        </ion-row>
        <ion-row class="fontEdit">
          <ion-col size="4">납부일:</ion-col>
          <ion-col>매월 00일 000,000원</ion-col>
        </ion-row>
      </ion-col>
    </ion-item>

    <ion-item>
      <ion-col size="9">
        <ion-row class="fontEdit">
          <ion-col off size="4">이름:</ion-col>
          <ion-col>CCC</ion-col>
        </ion-row>
        <ion-row class="fontEdit">
          <ion-col size="4">전화번호:</ion-col>
          <ion-col>OO빌라 101동 101호</ion-col>
        </ion-row>
        <ion-row class="fontEdit">
          <ion-col size="4">소유건물:</ion-col>
          <ion-col>AAA시 BBB구 CCC로 DDD</ion-col>
        </ion-row>
        <ion-row class="fontEdit">
          <ion-col size="4">납부일:</ion-col>
          <ion-col>매월 00일 000,000원</ion-col>
        </ion-row>
      </ion-col>
    </ion-item>
  </ion-list>
</ion-content>
