<ion-header>
  <header class="header">
    <h1 class="title">
      관리건물 상세내역
    </h1>
  </header>
</ion-header>

<ion-content>
  <ion-list class="main_Btn">
    <ion-button
      expand="block"
      size="large"
      (click)="managerbuildingActionSheet()"
      >건물 확인하기</ion-button
    >
  </ion-list>

  <ion-list class="mainMenu">
    <ion-item>
      <ion-label (click)="gotoManagerbuildingdetail()">
        <h2>건물명:ㅇㅇ건물</h2>
        <h3>주소:서울시 중랑구 겸재로.....</h3>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>건물명:ㅇㅇ건물</h2>
        <h3>주소:서울시 강동구 성내로.....</h3>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>건물명:ㅇㅇ건물</h2>
        <h3>주소:서울시 마포구 성암로.....</h3>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>건물명:ㅇㅇ건물</h2>
        <h3>주소:서울시 중구 을지로.....</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
