<!-- 페이지 머리말 -->
<ion-header>
  <ion-toolbar class="pagehead" mode="ios">
    <ion-title>
      연장 및 퇴거알림
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- 현재요일 기준 계약연장 및 퇴거요청 합산 확인창(카드) -->
  <ion-card class="information">
    <ion-card-header>
      <!-- 현재 요일 -->
      <ion-card-title>
        {{todayDate}}
      </ion-card-title>

      <!-- 연장요청 수 -->
      <ion-card-title>
        계약연장 : 00건
      </ion-card-title>

      <!-- 퇴거요청 수 -->
      <ion-card-title>
        퇴거요청 : 00건
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <!-- 계약연장 및 퇴거요청 기록 리스트 -->
  <ion-list class="mainMenu">
    <ion-item lines="inset">
      <ion-col class="form">
        날짜
      </ion-col>
      <ion-col class="form">
        제목
      </ion-col>
    </ion-item>

    <ion-item lines="inset">
      <ion-col class="form">
        00월 00일
      </ion-col>
      <ion-col class="form">
        계약 연장 신청
      </ion-col>
    </ion-item>

    <ion-item lines="inset">
      <ion-col class="form">
        00월 00일
      </ion-col>
      <ion-col class="form">
        퇴거 요청
      </ion-col>
    </ion-item>
  </ion-list>

  <!-- 버튼 리스트 -->
  <ion-list class="main_btn">
    <!-- 계약연장 보기 버튼(controlextend)으로 이동 -->
    <ion-button
      class="button"
      color="primary"
      size="large"
      expand="block"
      (click)="gotoControlExtend()"
    >
      계약연장 보기
    </ion-button>

    <!-- 퇴거요청 보기 버튼(controlremoval)으로 이동 -->
    <ion-button
      class="button"
      color="primary"
      size="large"
      expand="block"
      (click)="gotoControlRemoval()"
    >
      퇴거요청 보기
    </ion-button>
  </ion-list>
</ion-content>
