//카드 CSS
.information {
  display: flex;
  justify-content: center;
}

// 폼 정리 CSS
.form {
  display: flex;
  justify-content: center;
}

// 버튼 CSS
.button {
  height: 70px;
  font-size: 20px;
  margin: 10px 10px;
}
