<ion-header>
  <header class="header">
    <h1 class="title">
      주차서비스
    </h1>
  </header>
</ion-header>

<ion-content>
  <div class="info">
    <ion-item lines="none"><h3>등록 차량</h3></ion-item>
  </div>

  <ion-button
    class="button"
    color="tertiary"
    expand="block"
    (click)="gotoParkingregister()"
    >차량등록</ion-button
  >
  <ion-button
    class="button"
    color="tertiary"
    expand="block"
    (click)="gotoParkingvisitlist()"
    >방문예약 내역</ion-button
  >
  <ion-button
    class="button"
    color="tertiary"
    expand="block"
    (click)="gotoParkingvisitregister()"
    >방문차량 등록</ion-button
  >
</ion-content>
