<ion-header>
  <header class="header">
    <h1 class="title">
      주차서비스
    </h1>
  </header>
</ion-header>

<ion-content>
  <ion-list class="mainMenu">
    <ion-item lines="full">
      <ion-col class="subtitle">
        차량을 등록해주세요.
      </ion-col>
    </ion-item>

    <ion-item>
      <ion-textarea rows="10"></ion-textarea>
    </ion-item>
  </ion-list>

  <ion-list class="main_Btn">
    <ion-button
      class="button"
      color="tertiary"
      expand="block"
      (click)="gotoParkingregister()"
      >차량등록</ion-button
    >
    <ion-button
      class="button"
      color="tertiary"
      expand="block"
      (click)="gotoParkingvisitlist()"
      >방문예약 내역</ion-button
    >
    <ion-button
      class="button"
      color="tertiary"
      expand="block"
      (click)="gotoParkingvisitregister()"
      >방문차량 등록</ion-button
    >
  </ion-list>
</ion-content>
