<ion-header>
  <header class="header">
    <h1 class="title">
      납부하기
    </h1>
  </header>
</ion-header>

<ion-content>
  <ion-list class="mainMenu">
    <ion-item lines="inset">
      <ion-col class="title">
        결제 방법
      </ion-col>
    </ion-item>

    <ion-item lines="full">
      <ion-col class="form1">신용카드</ion-col>
      <ion-col class="form2">가상계좌</ion-col>
    </ion-item>
  </ion-list>

  <ion-list class="main_Btn">
    <ion-button class="button" color="tertiary" expand="block"
      >결제방식 종합 안내보기</ion-button
    >
  </ion-list>
</ion-content>
