// 머리말 높이 CSS (뒤로가기 버튼 있을때만 사용)
.pagehead {
  height: 44px;
  display: flex;
}

// 카드 CSS
.information {
  display: flex;
  justify-content: center;
}

// 폰트 설정 CSS
.fontEdit {
  font-size: 14px;
  line-height: 15px;
}

// 납부현황 폼 설정 CSS
.form {
  display: flex;
  justify-content: center;
}
