// 페이지 머리말 CSS
.header {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

// 카드 CSS
.information {
  display: flex;
  justify-content: center;
}

// 폼 정리 CSS
.form {
  display: flex;
  justify-content: center;
}
