<!-- 페이지 머리말 -->
<ion-header>
  <ion-toolbar class="pagehead" mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main1"> </ion-back-button>
    </ion-buttons>
    <ion-title>
      입금 및 수납현황<br />
      계약정보 보기
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- 현재요일 기준 계약 및 월세비 합산, 미납여부 확인창(카드) -->
<ion-content>
  <ion-card class="information">
    <ion-card-header>
      <!-- 현재요일 -->
      <ion-card-title class="days">
        {{todayDate}}
      </ion-card-title>

      <!-- 임대중인 세대수 및 총 월세비 -->
      <ion-card-title>
        임대중인 세대수/ 총 월세비
      </ion-card-title>

      <!-- 세대수 월세비 납부 현황 -->
      <ion-card-subtitle>
        00세대 중 00세대 완납
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <!-- 계약 상세정보 리스트 -->
  <ion-list class="mainMenu">
    <!-- 계약 상세정보 머리말 -->
    <ion-item>
      <ion-col>
        <ion-row>
          <ion-col>
            <strong>계약정보</strong>
          </ion-col>
          <ion-col size="3" class="form">
            <strong>납부현황</strong>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-item>

    <!-- 계약정보 리스트 내용 -->
    <ion-item (click)="gotoPaydetail()">
      <ion-col size="9">
        <ion-row class="fontEdit">
          <ion-col size="4">주소:</ion-col>
          <ion-col>서울시 중랑구 겸재로</ion-col>
        </ion-row>
        <ion-row class="fontEdit">
          <ion-col size="4"></ion-col>
          <ion-col>OO빌라 101동 101호</ion-col>
        </ion-row>
        <ion-row class="fontEdit">
          <ion-col size="4">계약기간:</ion-col>
          <ion-col>0000년 00월 00일 부터</ion-col>
        </ion-row>
        <ion-row class="fontEdit">
          <ion-col size="4"></ion-col>
          <ion-col>0000년 00월 00일 까지</ion-col>
        </ion-row>
        <ion-row class="fontEdit">
          <ion-col size="4">납부일:</ion-col>
          <ion-col>매월 00일 000,000원</ion-col>
        </ion-row>
      </ion-col>

      <ion-col size="3" class="form">
        완납
      </ion-col>
    </ion-item>

    <ion-item>
      <ion-col size="9">
        <ion-row class="fontEdit">
          <ion-col size="4">주소:</ion-col>
          <ion-col>서울시 강동구 천호옛16길</ion-col>
        </ion-row>
        <ion-row class="fontEdit">
          <ion-col size="4"></ion-col>
          <ion-col>AA아파트 101동 1001호</ion-col>
        </ion-row>
        <ion-row class="fontEdit">
          <ion-col size="4">계약기간:</ion-col>
          <ion-col>0000년 00월 00일 부터</ion-col>
        </ion-row>
        <ion-row class="fontEdit">
          <ion-col size="4"></ion-col>
          <ion-col>0000년 00월 00일 까지</ion-col>
        </ion-row>
        <ion-row class="fontEdit">
          <ion-col size="4">납부일:</ion-col>
          <ion-col>매월 00일 000,000원</ion-col>
        </ion-row>
      </ion-col>

      <ion-col size="3" class="form">
        완납
      </ion-col>
    </ion-item>

    <ion-item (click)="gotoPaydetail()">
      <ion-col size="9">
        <ion-row class="fontEdit">
          <ion-col size="4">주소:</ion-col>
          <ion-col>인천시 연수구 능동대로100</ion-col>
        </ion-row>
        <ion-row class="fontEdit">
          <ion-col size="4"></ion-col>
          <ion-col>OO오피스텔 101동 101호</ion-col>
        </ion-row>
        <ion-row class="fontEdit">
          <ion-col size="4">계약기간:</ion-col>
          <ion-col>0000년 00월 00일 부터</ion-col>
        </ion-row>
        <ion-row class="fontEdit">
          <ion-col size="4"></ion-col>
          <ion-col>0000년 00월 00일 까지</ion-col>
        </ion-row>
        <ion-row class="fontEdit">
          <ion-col size="4">납부일:</ion-col>
          <ion-col>매월 00일 000,000원</ion-col>
        </ion-row>
      </ion-col>

      <ion-col size="3" class="form">
        미납
      </ion-col>
    </ion-item>
  </ion-list>
</ion-content>
