<ion-header>
  <header class="header">
    <h1 class="title">
      입금 및 수납현황 / 세입자 관리
    </h1>
  </header>
</ion-header>

<ion-content>
  <ion-card class="information">
    <ion-card-header>
      <ion-card-title class="date">0000년 00월 00일</ion-card-title>
      <ion-card-title class="rentInfo"
        >임대중인 세대수/ 총 월세비</ion-card-title
      >
      <ion-card-subtitle class="rentCheck"
        >00세대 중 00세대 완납</ion-card-subtitle
      >
    </ion-card-header>
  </ion-card>

  <ion-list>
    <ion-item>
      <ion-label (click)="gotoPayDetail()">
        <h2>건물명:ㅇㅇ건물</h2>
        <h3>주소:서울시 중랑구 겸재로.....</h3>
        <p>납부일: 매월 00일 000,000원</p>
        <p>납부상태: 완납</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>건물명:ㅇㅇ건물</h2>
        <h3>주소:서울시 강동구 성내로.....</h3>
        <p>납부일: 매월 00일 000,000원</p>
        <p>납부상태: 완납</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <h2>건물명:ㅇㅇ건물</h2>
        <h3>주소:서울시 마포구 성암로.....</h3>
        <p>납부일: 매월 00일 000,000원</p>
        <p>납부상태: 미납</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
