<ion-header>
  <header class="header">
    <h1 class="title">
      택배 상세정보
    </h1>
  </header>
</ion-header>

<ion-content>
  <ion-item lines="inset">
    <ion-title>0000년 00월 00일 00시 00분</ion-title>
    <ion-title>배송 완료</ion-title>
  </ion-item>

  <div class="info">
    <ion-item lines="none"><p>택배업체: ㅇㅇ택배</p></ion-item>
    <ion-item lines="none"><p>운송장번호: 123456789</p></ion-item>
    <ion-item lines="none"><p>배달장소: 택배 보관함</p></ion-item>
    <ion-item lines="none"><p>상품명: ㅇㅇ식품</p></ion-item>
    <ion-item lines="none"><p>배송원: 홍길동 010-1111-1111</p></ion-item>
  </div>
</ion-content>
