<ion-header>
  <header class="header">
    <h1 class="title">
      택배 상세정보
    </h1>
  </header>
</ion-header>

<ion-content>
  <ion-list class="mainMenu">
    <ion-item lines="inset">
      <ion-col class="form">0000년 00월 00일 00시 00분</ion-col>
    </ion-item>

    <ion-item lines="inset">
      <ion-col class="form">배송 완료</ion-col>
    </ion-item>

    <ion-item lines="inset">
      <ion-col class="form">택배업체: ㅇㅇ택배</ion-col>
    </ion-item>
    <ion-item lines="inset">
      <ion-col class="form">운송장번호: 123456789</ion-col>
    </ion-item>
    <ion-item lines="inset">
      <ion-col class="form">배달장소: 택배 보관함</ion-col>
    </ion-item>
    <ion-item lines="inset">
      <ion-col class="form">상품명: ㅇㅇ식품</ion-col>
    </ion-item>
    <ion-item lines="inset">
      <ion-col class="form">배송원: 홍길동 010-1111-1111</ion-col>
    </ion-item>
  </ion-list>
</ion-content>
