<ion-header>
  <header class="header">
    <h1 class="title">
      회원정보입력-임대인
    </h1>
  </header>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="floating">아이디</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">비밀번호</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">성명</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">이메일</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">연락처</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label position="floating">건물 등록</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-button
      class="button"
      size="large"
      expand="block"
      color="secondary"
      (click)="gotoSignUp1Alert()"
    >
      회원가입</ion-button
    >
  </ion-list>
</ion-content>
