<ion-content>
  <ion-item>
    <ion-label lines="none">
      <ion-row class="title">
        퇴거요청 신청합니다.
      </ion-row>
    </ion-label>
  </ion-item>
  <ion-item color="secondary">
    <ion-label>
      <ion-row class="subtitle">세입자 정보</ion-row>
    </ion-label>
  </ion-item>

  <ion-item lines="inset">
    <ion-label>
      <ion-row>
        <ion-col> 이름</ion-col>
        <ion-col size="8">임차인</ion-col>
      </ion-row>
    </ion-label>
  </ion-item>

  <ion-item lines="inset">
    <ion-label>
      <ion-row>
        <ion-col> 거주지</ion-col>
        <ion-col size="8">서울시 중랑구 겸재로 aa빌라 101동 101호</ion-col>
      </ion-row>
    </ion-label>
  </ion-item>

  <ion-item lines="inset">
    <ion-label>
      <ion-row>
        <ion-col> 연락처</ion-col>
        <ion-col size="8">010-1111-1111</ion-col>
      </ion-row>
    </ion-label>
  </ion-item>

  <ion-item lines="inset">
    <ion-label>
      <ion-row>
        <ion-col> 계약기간</ion-col>
        <ion-col size="8">0000년 00월 00일 ~ 0000년 00월 00일</ion-col>
      </ion-row>
    </ion-label>
  </ion-item>

  <ion-item lines="inset">
    <ion-label>
      <ion-row>
        <ion-col> 퇴거희망기간</ion-col>
        <ion-col size="8">0000년 00월 00일</ion-col>
      </ion-row>
    </ion-label>
  </ion-item>

  <ion-item lines="inset">
    <ion-label>
      <ion-row>
        <ion-col> 보증금</ion-col>
        <ion-col size="8">00,000,000원</ion-col>
      </ion-row>
    </ion-label>
  </ion-item>

  <ion-item lines="inset">
    <ion-label>
      <ion-row>
        <ion-col> 월세</ion-col>
        <ion-col size="8">000,000원</ion-col>
      </ion-row>
    </ion-label>
  </ion-item>
</ion-content>
