.header {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.information {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.button {
  height: 70px;
  font-size: 20px;
  margin-bottom: 5px;
}
