<!-- 페이지 머리말 -->
<ion-header>
  <ion-toolbar class="pagehead" mode="ios">
    <ion-title>관리자</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- 현재 요일 기준 계약 건수 및 민원사창 건수 확인창(카드) -->
  <ion-card class="information">
    <ion-card-header>
      <ion-card-title class="date">{{todayDate}}</ion-card-title>
      <ion-card-title class="situation">전체 -건 공실 -건</ion-card-title>
      <ion-card-subtitle class="opinion">민원사항 --건</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <!-- 버튼 리스트 -->
  <ion-list class="mainMenu">
    <!-- 임대인 등록하기(registerowner)로 이동 -->
    <ion-button
      class="main_Btn"
      color="tertiary"
      expand="block"
      (click)="gotoRegisterowner()"
      >임대인 등록하기</ion-button
    >

    <!-- 임대인 관리하기(adminowner)로 이동 -->
    <ion-button
      class="main_Btn"
      color="tertiary"
      expand="block"
      (click)="gotoAdminowner()"
      >임대인 관리하기</ion-button
    >

    <!-- 관리건물 상세내역(managerbuilding)으로 이동 -->
    <ion-button
      class="main_Btn"
      color="tertiary"
      expand="block"
      (click)="gotoManagerbuilding()"
      >관리건물 상세내역</ion-button
    >

    <!-- 민원내역 버튼(opinion)으로 이동 -->
    <ion-button
      class="main_Btn"
      color="tertiary"
      expand="block"
      (click)="gotoOpinion()"
      >민원내역</ion-button
    >

    <!-- 대형폐기물 처리 내역 버튼(trashchecklist)으로 이동 -->
    <ion-button
      class="main_Btn"
      color="tertiary"
      expand="block"
      (click)="gotoTrashchecklist()"
      >대형폐기물 처리 내역</ion-button
    >

    <!-- 수리견적서 작성 버튼(estimate)으로 이동 -->
    <ion-button
      class="main_Btn"
      color="tertiary"
      expand="block"
      (click)="gotoEstimate()"
      >수리견적서 작성</ion-button
    >

    <!-- 점검표 작성하기 버튼(checklist)으로 이동 -->
    <ion-button
      class="main_Btn"
      color="tertiary"
      expand="block"
      (click)="gotoChecklist()"
      >점검표 작성하기</ion-button
    >

    <!-- 질문사항 버튼(faq)으로 이동) -->
    <ion-button
      class="main_Btn"
      color="tertiary"
      expand="block"
      (click)="gotoFaq()"
      >질문사항</ion-button
    >

    <!-- 공지사항 버튼(notice)으로 이동) -->
    <ion-button
      class="main_Btn"
      color="tertiary"
      expand="block"
      (click)="gotoNotice()"
      >공지사항</ion-button
    >
  </ion-list>
</ion-content>
