<ion-header>
  <header class="header">
    <h1 class="title">
      방문예약 내역 상세보기
    </h1>
  </header>
</ion-header>

<ion-content>
  <ion-list class="subtitle">
    <h3>친척 방문</h3>
  </ion-list>

  <ion-list class="mainMenu">
    <ion-item>
      <ion-col class="form1" size="4">방문기간</ion-col>
      <ion-col class="form2">0000년 00월 00일 ~ 0000년 00월 00일</ion-col>
    </ion-item>
    <ion-item>
      <ion-col class="form1" size="4">차량번호</ion-col>
      <ion-col class="form2">11가1111</ion-col>
    </ion-item>
    <ion-item>
      <ion-col class="form1" size="4">차량종류</ion-col>
      <ion-col class="form2">다마스</ion-col>
    </ion-item>
    <ion-item>
      <ion-col class="form1" size="4">연락처</ion-col>
      <ion-col class="form2">010-1111-1111</ion-col>
    </ion-item>
  </ion-list>
</ion-content>
