<ion-header>
  <header class="tutorial">
    <h1 class="title">
      세입자 관리
    </h1>
  </header>
</ion-header>

<ion-content>
  <ion-card class="information">
    <ion-card-header>
      <ion-card-title class="days"
        >서울시 중랑구 겸재로 aa빌라 101동 101호</ion-card-title
      >
      <ion-card-title class="rentInfo">000,000원 완납</ion-card-title>
      <ion-card-subtitle class="rentCheck">납부일: 매월 00일</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-list class="mainMenu">
    <ion-item lines="inset">
      <ion-col class="ownerInfo">
        세입자 정보
      </ion-col>
    </ion-item>

    <ion-item lines="inset" class="mainList">
      <ion-col class="form1">
        이름
      </ion-col>
      <ion-col class="form2">
        임차인
      </ion-col>
    </ion-item>

    <ion-item lines="inset" class="mainList">
      <ion-col class="form1">
        연락처
      </ion-col>
      <ion-col class="form2">
        010-1111-1111
      </ion-col>
    </ion-item>

    <ion-item lines="inset" class="mainList">
      <ion-col class="form1">
        계약기간
      </ion-col>
      <ion-col class="form2">
        0000년 00월 00일 ~ 0000년 00월 00일
      </ion-col>
    </ion-item>

    <ion-item lines="inset" class="mainList">
      <ion-col class="form1">
        보증금
      </ion-col>
      <ion-col class="form2">
        00,000,000원
      </ion-col>
    </ion-item>

    <ion-item lines="inset" class="mainList">
      <ion-col class="form1">
        월세
      </ion-col>
      <ion-col class="form2">
        000,000원
      </ion-col>
    </ion-item>
  </ion-list>
  <ion-item lines="inset" class="mainList">
    <ion-col class="form1">
      납부 여부
    </ion-col>
    <ion-col class="form2">
      완납
    </ion-col>
  </ion-item>
  </ion-list>
</ion-content>
