<ion-header>
  <header class="tutorial">
    <h1 class="title">
      세입자 관리
    </h1>
  </header>
</ion-header>

<ion-content>
  <ion-card class="information">
    <ion-card-header>
      <ion-card-title class="date"
        >서울시 중랑구 겸재로 aa빌라 101동 101호</ion-card-title
      >
      <ion-card-title class="rentInfo">000,000원 완납</ion-card-title>
      <ion-card-subtitle class="rentCheck">납부일: 매월 00일</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <div class="info">
    <ion-item lines="inset">
      <ion-label class="ownerInfo">
        세입자 정보
      </ion-label>
    </ion-item>

    <ion-item lines="inset">
      <ion-col size="4">
        이름
      </ion-col>
      <ion-col>
        임차인
      </ion-col>
    </ion-item>

    <ion-item lines="inset">
      <ion-col size="4">
        연락처
      </ion-col>
      <ion-col>
        010-1111-1111
      </ion-col>
    </ion-item>

    <ion-item lines="inset">
      <ion-col size="4">
        계약기간
      </ion-col>
      <ion-col>
        0000년 00월 00일 ~ 0000년 00월 00일
      </ion-col>
    </ion-item>

    <ion-item lines="inset">
      <ion-col size="4">
        보증금
      </ion-col>
      <ion-col>
        00,000,000원
      </ion-col>
    </ion-item>

    <ion-item lines="inset">
      <ion-col size="4">
        월세
      </ion-col>
      <ion-col>
        000,000원
      </ion-col>
    </ion-item>
  </div>
</ion-content>
