<ion-header>
  <header class="tutorial">
    <h1 class="title">
      점검표 작성하기
    </h1>
  </header>
</ion-header>

<ion-content>
  <ion-list class="main_Btn">
    <ion-button expand="block" size="large" (click)="gotoChecklistouter()">
      시설물 종합 점검표 작성하기
    </ion-button>
    <ion-button expand="block" size="large">
      시설물 종합 점검표 작성목록
    </ion-button>
    <ion-button expand="block" size="large" (click)="gotoChecklistinner()">
      입주 및 퇴거 점검표 작성하기
    </ion-button>
    <ion-button expand="block" size="large">
      입주 및 퇴거 점검표 점검목록
    </ion-button>
    <ion-button expand="block" size="large" (click)="gotoChecklistfix()">
      시설물 및 주택상가 처리사항
    </ion-button>
  </ion-list>
</ion-content>
