<ion-header>
  <header class="header">
    <h1 class="title">
      벼룩시장
    </h1>
  </header>
</ion-header>

<ion-content>
  <ion-list class="mainMenu">
    <ion-item (click)="gotoMarketbuy()">
      <ion-col size="10">
        <ion-label>
          <h2>수제 양초 팝니다</h2>
          <p>0000년 00월 00일</p>
        </ion-label>
      </ion-col>

      <ion-col class="form">
        판매중
      </ion-col>
    </ion-item>

    <ion-item>
      <ion-col size="10">
        <ion-label>
          <h2>인테리어 용품 팝니다</h2>
          <p>0000년 00월 00일</p>
        </ion-label>
      </ion-col>

      <ion-col class="form">
        판매완료
      </ion-col>
    </ion-item>
  </ion-list>

  <ion-list class="main_Btn">
    <ion-button
      class="button"
      color="tertiary"
      expand="block"
      (click)="gotoMarketsell()"
      >판매 등록하기</ion-button
    >
  </ion-list>
</ion-content>
