<!-- 페이지 머리말 -->
<ion-header>
  <ion-toolbar class="pagehead" mode="ios">
    <ion-title>
      계약연장 신청하기
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- 계약연장 정보 리스트 -->
  <ion-list>
    <ion-item lines="inset">
      <ion-col size="5" class="form"> 이름</ion-col>
      <ion-col class="form">임차인</ion-col>
    </ion-item>

    <ion-item lines="inset">
      <ion-col size="5" class="form"> 거주지</ion-col>
      <ion-col class="form">서울시 중랑구 겸재로 aa빌라 101동 101호</ion-col>
    </ion-item>

    <ion-item lines="inset">
      <ion-col size="5" class="form"> 연락처</ion-col>
      <ion-col class="form">010-1111-1111</ion-col>
    </ion-item>

    <ion-item lines="inset">
      <ion-col size="5" class="form"> 계약기간</ion-col>
      <ion-col class="form"
        >0000년 00월 00일 부터 0000년 00월 00일 까지</ion-col
      >
    </ion-item>

    <ion-item lines="inset">
      <ion-col size="5" class="form"> 희망연장기간</ion-col>
      <ion-col class="form"
        >0000년 00월 00일 부터 0000년 00월 00일 까지</ion-col
      >
    </ion-item>

    <ion-item lines="inset">
      <ion-col size="5" class="form"> 보증금</ion-col>
      <ion-col class="form">00,000,000원</ion-col>
    </ion-item>

    <ion-item lines="inset">
      <ion-col size="5" class="form"> 월세</ion-col>
      <ion-col class="form">000,000원</ion-col>
    </ion-item>
  </ion-list>
</ion-content>
