<ion-content>
  <ion-item>
    <ion-col class="title">
      계약연장 신청합니다.
    </ion-col>
  </ion-item>
  <ion-item color="secondary">
    <ion-col class="subtitle">세입자 정보</ion-col>
  </ion-item>

  <ion-list>
    <ion-item lines="inset">
      <ion-col class="form1"> 이름</ion-col>
      <ion-col class="form2">임차인</ion-col>
    </ion-item>

    <ion-item lines="inset">
      <ion-col class="form1"> 거주지</ion-col>
      <ion-col class="form2">서울시 중랑구 겸재로 aa빌라 101동 101호</ion-col>
    </ion-item>

    <ion-item lines="inset">
      <ion-col class="form1"> 연락처</ion-col>
      <ion-col class="form2">010-1111-1111</ion-col>
    </ion-item>

    <ion-item lines="inset">
      <ion-col class="form1"> 계약기간</ion-col>
      <ion-col class="form2">0000년 00월 00일 ~ 0000년 00월 00일</ion-col>
    </ion-item>

    <ion-item lines="inset">
      <ion-col class="form1"> 희망연장기간</ion-col>
      <ion-col class="form2">0000년 00월 00일 ~ 0000년 00월 00일</ion-col>
    </ion-item>

    <ion-item lines="inset">
      <ion-col class="form1"> 보증금</ion-col>
      <ion-col class="form2">00,000,000원</ion-col>
    </ion-item>

    <ion-item lines="inset">
      <ion-col class="form1"> 월세</ion-col>
      <ion-col class="form2">000,000원</ion-col>
    </ion-item>
  </ion-list>
</ion-content>
