<!-- 페이지 머리말 -->
<ion-header>
  <ion-toolbar class="pagehead" mode="ios">
    <ion-title>로그인-임차인</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- 로그인 폼 리스트 -->
  <ion-list class="loginForm_Btn">
    <!-- 아이디 입력 폼 -->
    <ion-item class="id">
      <ion-label color="primary" position="floating">ID</ion-label>
      <ion-input [(ngModel)]="id"></ion-input>
    </ion-item>
    <!-- 비밀번호 입력 폼 -->
    <ion-item class="password">
      <ion-label color="primary" position="floating">Password</ion-label>
      <ion-input [(ngModel)]="password" type="password"></ion-input>
    </ion-item>
  </ion-list>

  <!-- 버튼 리스트 -->
  <ion-list class="main_Btn">
    <!-- 로그인 버튼 (로그인 성공시 임차인 메뉴(main2)로 이동
      실패시 알람 뜸) -->
    <ion-button
      expand="block"
      color="secondary"
      size="large"
      (click)="gotoMain2()"
    >
      로그인
    </ion-button>
    <!-- 회원가입 버튼 (회원가입 메뉴(signup2)로 이동) -->
    <ion-button
      expand="block"
      color="secondary"
      size="large"
      (click)="gotoSignUp2()"
    >
      회원가입
    </ion-button>
  </ion-list>
</ion-content>
