<ion-header>
  <header class="tutorial">
    <h1 class="title">
      공지사항
    </h1>
  </header>
</ion-header>

<ion-content>
  <ion-list class="main_Btn">
    <ion-button expand="block" size="large" (click)="noticeActionSheet()">
      사용자 설정하기</ion-button
    >
  </ion-list>

  <ion-list class="mainMenu">
    <ion-item lines="inset">
      <ion-col class="form1">
        날짜
      </ion-col>
      <ion-col calss="form2">
        제목
      </ion-col>
    </ion-item>

    <ion-item lines="inset">
      <ion-col class="form1">
        0000년 00월 00일
      </ion-col>
      <ion-col class="form2">
        1월 6일 오류사항 안내
      </ion-col>
    </ion-item>

    <ion-item lines="inset">
      <ion-col class="form1">
        0000년 00월 00일
      </ion-col>
      <ion-col class="form2">
        12월 27일 업데이트 안내
      </ion-col>
    </ion-item>

    <ion-item lines="inset" (click)="gotoNoticedetail()">
      <ion-col class="form1">
        0000년 00월 00일
      </ion-col>
      <ion-col class="form2">
        어플리케이션 오픈
      </ion-col>
    </ion-item>
  </ion-list>
</ion-content>
