.tutorial {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.main_Btn {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.form1,
.form2 {
  display: flex;
  justify-content: space-between;
}
