<ion-header>
  <header class="header">
    <h1 class="title">
      계약 연장
    </h1>
  </header>
</ion-header>

<ion-content>
  <ion-item> </ion-item>

  <ion-item lines="full">
    <ion-col size="3">
      계약기간
    </ion-col>
    <ion-col>
      0000년 00월 00일 ~ 0000년 00월 00일
    </ion-col>
  </ion-item>

  <ion-item> </ion-item>

  <ion-item lines="full">
    <ion-col size="3">
      계약연장 <br />
      희망기간
    </ion-col>
    <ion-col>
      0000년 00월 00일 ~ 0000년 00월 00일
    </ion-col>
  </ion-item>

  <ion-button
    class="button"
    color="tertiary"
    expand="block"
    (click)="gotoContractextensionalert()"
    >계약연장 신청하기</ion-button
  >
</ion-content>
