<ion-header>
  <header class="header">
    <h1 class="title">
      퇴거 요청
    </h1>
  </header>
</ion-header>

<ion-content>
  <ion-item> </ion-item>

  <ion-item lines="full">
    <ion-col size="3">
      계약기간
    </ion-col>
    <ion-col>
      0000년 00월 00일 ~ 0000년 00월 00일
    </ion-col>
  </ion-item>

  <ion-item> </ion-item>

  <ion-item lines="full">
    <ion-col size="3"> 퇴거요청 <br />희망날짜 </ion-col>
    <ion-col>
      0000년 00월 00일
    </ion-col>
  </ion-item>

  <ion-button
    class="button"
    color="tertiary"
    expand="block"
    (click)="gotoContractremovalalert()"
    >퇴거요청 신청하기</ion-button
  >
</ion-content>
