<ion-header>
  <header class="header">
    <h1 class="title">
      대형폐기물 처리 내역
    </h1>
  </header>
</ion-header>
<ion-content>
  <ion-list class="mainMenu">
    <ion-item>
      <ion-col>
        <ion-label>
          <h2>신청인:OOO</h2>
          <h3>대형폐기물 견적서</h3>
          <p>0000년 00월 00일</p>
        </ion-label>
      </ion-col>
    </ion-item>
    <ion-item>
      <ion-col>
        <ion-label>
          <h2>신청인:OOO</h2>
          <h3>대형폐기물 견적서</h3>
          <p>0000년 00월 00일</p>
        </ion-label>
      </ion-col>
    </ion-item>
  </ion-list>
</ion-content>
