<ion-header>
  <header class="header">
    <h1 class="title">
      건물 및 임대정보
    </h1>
  </header>
</ion-header>

<ion-content>
  <ion-card class="information">
    <ion-card-header>
      <ion-card-title class="date">서울시 중랑구 겸재로 aa빌라</ion-card-title>
    </ion-card-header>
  </ion-card>

  <div class="info">
    <ion-item lines="inset" color="secondary">
      <ion-label class="owner">
        임대인 개인정보
      </ion-label>
    </ion-item>

    <ion-item lines="inset">
      <ion-label class="ownerInfo">
        임대인 010-1111-1111
      </ion-label>
    </ion-item>

    <ion-item lines="full" color="secondary">
      <ion-label class="renter">
        임차인 개인정보
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label class="renterInfo">
        임차인 010-2222-2222
      </ion-label>
    </ion-item>

    <ion-item lines="none">
      <ion-label class="renterInfo1">
        계약기간:2020년 00월 00일 ~ 2021년 00월 00일
      </ion-label>
    </ion-item>
  </div>
</ion-content>
