<ion-header>
  <header class="header">
    <h1 class="title">
      건물 및 임대정보
    </h1>
  </header>
</ion-header>

<ion-content>
  <ion-list class="mainMenu">
    <ion-item lines="inset">
      <ion-col class="form">
        서울시 중랑구 겸재로 aa빌라
      </ion-col>
    </ion-item>

    <ion-item lines="inset" color="secondary">
      <ion-col class="form">
        임대인 개인정보
      </ion-col>
    </ion-item>

    <ion-item lines="inset">
      <ion-col class="form">
        임대인 010-1111-1111
      </ion-col>
    </ion-item>

    <ion-item lines="inset" color="secondary">
      <ion-col class="form">
        임차인 개인정보
      </ion-col>
    </ion-item>

    <ion-item lines="inset">
      <ion-col class="form">
        임차인 010-2222-2222
      </ion-col>
    </ion-item>

    <ion-item lines="inset">
      <ion-col class="form">
        계약기간:2020년 00월 00일 ~ 2021년 00월 00일
      </ion-col>
    </ion-item>
  </ion-list>
</ion-content>
